<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <ul>
    <li th:each="element:${list}">[[${element}]]</li>
  </ul>
  <!-- th:each="【各要素を格納する変数名】 : ${【繰り返し処理するオブジェクト】}" -->
  <ul>
    <li th:each="entry: ${map}">
      [[${entry.key}]],[[${entry.value}]]
    </li>
  </ul>
</body>

</html>
