<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <ul>
    <li th:each="element:${list}">[[${element}]]</li>
  </ul>
  <!-- th:each="【各要素を格納する変数名】 : ${【繰り返し処理するオブジェクト】}" -->
  <ul>
    <li th:each="entry: ${map}">
      [[${entry.key}]],[[${entry.value}]]
    </li>
  </ul>

  <!-- th:each="【各要素】, 【ステータス変数】 : 【繰り返す対象】" -->
  <ul>
    <li th:each="element, status : ${list}">
      index = [[${status.index}]],
      count = [[${status.count}]],
      size = [[${status.size}]],
      current = [[${status.current}]],
      even = [[${status.even}]],
      odd = [[${status.odd}]],
      first = [[${status.first}]],
      last = [[${status.last}]]
    </li>
  </ul>
  <!-- th:blockで繰り返しを指定 -->
  <th:block th:each="element : ${list}">
    <h2>[[${element}]]</h2>
  </th:block>
</body>

</html>
